<div class="row">
    <div class="col-md-12">
        <!--- Complete Table -->
        <div class="card">
            <div class="card-body">
            <div class="d-flex mt-3">
                <input type="text" placeholder="Search" class="form-control w-auto" [(ngModel)]="csearchTerm" />
            </div>
            <table class="table table-striped border mt-4">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Plan Name</th>
                        <th>Amount</th>
                        <th>Current Period Start</th>
                        <th>Current Period End</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>Action</th> 
                   </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of cfilterClient | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize | filter:csearchTerm">
                        
                        <td>
                            <ngb-highlight [result]="client.Dates" [term]="csearchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="client.PlanName" [term]="csearchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="client.Amount" [term]="csearchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="client.CurrentPeriodStart" [term]="csearchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="client.CurrentPeriodEnd" [term]="csearchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="client.Status" [term]="csearchTerm"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="client.Description" [term]="csearchTerm"></ngb-highlight>
                        </td>
                        <td>
                           <i class="ti-pencil text-info m-r-10 pointer"></i>
                            <i class="ti-trash text-danger pointer"></i> 
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Showing 1 to {{cfilterClient.length}} entries</h3>

            <div class="d-flex justify-content-between p-2">    
                <ngb-pagination [(page)]="cpage"
                [pageSize]="cpageSize"
                [collectionSize]="totalLengthOfCollection"></ngb-pagination>
                <select class="custom-select" style="width: auto" [(ngModel)]="cpageSize">
                <option [ngValue]="2">2 items per page</option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
              </select>
            </div>
            </div>
        </div>
        <!--- End Complete Table -->
       </div></div>