<div class="card ">
    <form action="#" class="form-horizontal">
        <div class="form-body">
            <hr class="m-t-0 m-b-40">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group row">
                            <label for="fname2" class="col-sm-3 text-right control-label col-form-label">Current Password</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Enter Old Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fname2" class="col-sm-3 text-right control-label col-form-label">New Password</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Enter New Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fname2" class="col-sm-3 text-right control-label col-form-label">Confirm Password</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Enter Confirm Password">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info">Submit</button>
                            <button type="button" class="btn btn-dark">Cancel</button>
                        </div>    
                    </div>
                </div>
               </div></div></form></div>