<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/background/login-register.jpg) no-repeat center center;">
    <div class="auth-box m-3 m-md-0">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Signup</h5>
            </div>
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" action="index.html">
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <input class="form-control" type="text" required=" " placeholder="Full Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control" type="email" required=" " placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="text" required=" " placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <select class="form-control custom-select">
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                </select>  
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <select class="form-control custom-select">
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                </select>  
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control" type="text" required="" placeholder="City/Town">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control" type="number" required="" placeholder="Enter Contact Number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                            <input class="form-control" type="number" required="" placeholder="Enter Postal Code">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <select class="form-control custom-select">
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                </select>  
                            </div>
                        </div>
                        <h6>Enter Your Account Details Below :-</h6>
                        <div class="form-group row">
                            <div class="col-12 ">
                            <input class="form-control" type="text" required="" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                            <input class="form-control" type="text" required="" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                            <input class="form-control" type="text" required="" placeholder="Re-Type Your Password">
                            </div>
                        </div>
                        <h6>Enter The Code Above Here :-</h6><hr>
                        <div class="form-group m-b-0">
                            <button type="submit" class="btn btn-dark waves-effect waves-light">Back</button>
                            <button type="submit" class="btn btn-info waves-effect waves-light" style="float: right;">Submit</button>
                        </div>   
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>