<!-- Row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <form class="form-horizontal">
                <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-1 text-right control-label col-form-label">Banner Image</label>
                            <div class="col-sm-5">
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="form-group row">
                        <label for="abpro" class="col-sm-1 text-right control-label col-form-label">Promo Banner URL</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="abpro" placeholder="About Project Here">
                        </div>
                    </div>
                    
                        <div class="form-group row">
                            <label for="abpro" class="col-sm-1 text-right control-label col-form-label">Visible To</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="abpro" placeholder="About Project Here">
                            </div>
                        </div>    


                        <div class="form-group">
                            <label for="abpro" class="col-sm-2 text-right control-label col-form-label">Show / Hide Banner</label>
                                <input type="checkbox" >
                            </div>
                        </div>    
                <div class="card-body">
                    <div class="form-group m-b-0 text-center">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                        <button type="submit" class="btn btn-dark waves-effect waves-light">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
